#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hook-container{
  border: 1px solid gray;
  padding: 10px;
  width:100vh;
  margin-bottom:20px;
}
.button{
  background-color: black;
  color: #fff;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voterList{
  margin: 10px 0;
  padding: 20px 10px;
  background: #e6e4e4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  align-items: center;
  color: #000;
}
.voterList input{
  color: #000;
  background: #fff;
}
.voterList input::placeholder{
  color: #000;
  background-color: #fff;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.loader{
  background-color: #fff;
 border-radius: 50%;
 height: 50px;
 width: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
  color: #fff;
  
}
.loader p{
  color: #000;
}